---
on:
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

name: Security audit

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

